/* Cell phones */

@media only screen and (max-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-row: 1/2;
        grid-column: 1/2;
        padding: .5rem;
        background-color: var(--primary);
        color: var(--basic);
        box-shadow: 0 2px 6px var(--shadows);
        z-index: 100;
    }

    .mobile-nav-icon {
        width: 40px;
    }

    .ul-top {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .ul-top select {
        width: 200px;
    }

    .ul-bottom {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }


}

