.lead-table-container {
    background-color: var(--basic);
    grid-row: 2/3;
    grid-column: 1/2;
    box-sizing: border-box;
}

.leads-table-header {
    padding: 1rem;
    display: flex;
    background-color: var(--basic);
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-between;
    box-shadow: 0px 2px 8px #333;
    position: relative;
    z-index: 95;
    
}

.leads-table-header h1 {
    margin: 0;
}

.leads-table-header input[type="text"]{
    width: 70%;
}

.leads-table-body {
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
    z-index: 90;
}