.notes-container {
    background-color: var(--basic);
    grid-row: 2/3;
    grid-column: 1/2;
    overflow-y: scroll;
}

.notes-container-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-container-header h1{
    margin:0;

}

.notes-container-body {
    padding: 1rem;
    height: 100%;
}