:root{
  --basic: #d0efff;
  --primary: #038399;
  --accent: #feb9c5;
  --warn: #b86b85;
  --shadows: #021e20;
}

@font-face{
  src: url('assets/fonts/Ubuntu-Regular.ttf');
  font-family: regular;
}

body {
  font-family: 'Regular';
}

select {
  border-radius: 6px;
  padding: 8px;
}

input[type="text"]{
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 4px;
}

.btn-primary {
  padding: 0 1rem;
  background-color: var(--primary);
  color: var(--basic);
  font-family: 'Regular';
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px var(--shadows);
}

.btn-warn {
  padding: 0 1rem;
  background-color: var(--warn);
  color: var(--basic);
  font-family: 'Regular';
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 3px var(--shadows);
}

@media only screen and (max-width: 768px) {

  .layout {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 14vh 86vh;
  }

}


